<div class="row">
    <div class="col-md-6 col-md-offset-3">

      <%= form_tag(login_path, method: "post", class: "sky-form") do %>
        <header>An Holarse anmelden</header>

          <fieldset>
            <section>
              <%= label_tag :username, nil, class: "label" %>
              <%= label_tag nil, class: "input" do %>
                <i class="icon-prepend fa fa-user"></i>
                <%= text_field_tag :username, nil, placeholder: 'Benutzername' %>
              <% end %>
            </section>
            <section>
              <%= label_tag :password, nil, class: "label" %>
              <%= label_tag nil, class: "input" do %>
                  <i class="icon-prepend fa fa-key"></i>
                  <%= password_field_tag :password, nil, placeholder: 'Passwort' %>
              <% end %>
            </section>
          </fieldset>
          <footer>
            <%= submit_tag 'Anmelden', class: "btn-u btn-u-primary" %>
          </footer>
      <% end %>

    </div>

</div><!--/row-->
