<div class="container content">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
      <%= form_for(@user, html: { class: "sky-form" }) do |f| %>
      <header>Neues Konto erstellen</header>
      
      <fieldset>                  
        <section>
          <label class="input">
            <i class="icon-append fa fa-user"></i>
	    <%= f.text_field(:username, placeholder: "Benutzername") %>
	    <%= display_form_errors(@user.errors[:username]) %>
          </label>
        </section>
        
        <section>
          <label class="input">
            <i class="icon-append fa
                      fa-envelope"></i>
	    <%= f.text_field(:email, placeholder:
                "Email-Adresse") %>
          </label>
        </section>
        
        <section>
          <label class="input">
            <i class="icon-append fa fa-lock"></i>
	    <%= f.password_field(:password,
		placeholder: "Passwort") %>
          </label>
        </section>
        
        <section>
          <label class="input">
            <i class="icon-append fa fa-lock"></i>
	    <%= f.password_field(:password_confirmation,
		placeholder: "Passwort bestätigen") %>
          </label>
        </section>
      </fieldset>
      <footer>
        <button type="submit"
                class="btn-u">Registrieren</button>
      </footer>
      <% end %>

    </div>
  </div>
</div><!--/container-->	
