<div class="container content blog-page blog-item">
  <!--Blog Post-->        
  <div class="blog margin-bottom-40">
    <div class="blog-img">
      <img class="img-responsive" src="assets/img/sliders/4.jpg" alt="">
    </div>
    <h2><%= @news.title %></h2>
    <div class="blog-post-tags">
      <ul class="list-unstyled list-inline blog-info">
        <li><i class="fa fa-calendar"></i> <%= @news.last_update %></li>
        <li><i class="fa fa-pencil"></i> <%= @news.last_author %></li>
        <li><i class="fa fa-comments"></i> <a href="#"><%= @news.comments.size %> Kommentare</a></li>
        <li><i class="fa fa-tags"></i> <%= @news.tags %></li>
      </ul>                    
    </div>
    <%= @news.rendered_content %>
  </div>
  <!--End Blog Post-->        

  <hr>

  <!-- Recent Comments -->
  <div class="media">
    <h3>Comments</h3>
    <a class="pull-left" href="#">
      <img class="media-object" src="assets/img/sliders/elastislide/2.jpg" alt="" />
    </a>
    <div class="media-body">
      <h4 class="media-heading">Media heading <span>5 hours ago / <a href="#">Reply</a></span></h4>
      <p>Donec id erum quidem rerumd facilis est et expedita distinctio lorem ipsum dolorlit non mi portas sats eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna..</p>

      <hr>

      <div class="media">
        <a class="pull-left" href="#">
          <img class="media-object" src="assets/img/sliders/elastislide/5.jpg" alt="" />
        </a>
        <div class="media-body">
          <h4 class="media-heading">Media heading <span>17 hours ago / <a href="#">Reply</a></span></h4>
          <p>Donec id erum quidem rerumd facilis est et expedita distinctio lorem ipsum dolorlit non mi portas sats eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna..</p>
        </div>
      </div>

      <hr>

      <div class="media">
        <a class="pull-left" href="#">
          <img class="media-object" src="assets/img/sliders/elastislide/11.jpg" alt="" />
        </a>
        <div class="media-body">
          <h4 class="media-heading">Media heading <span>2 days ago / <a href="#">Reply</a></span></h4>
          <p>Donec id erum quidem rerumd facilis est et expedita distinctio lorem ipsum dolorlit non mi portas sats eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna..</p>
        </div>
      </div>
    </div>
  </div><!--/media-->

  <div class="media">
    <a class="pull-left" href="#">
      <img class="media-object" src="assets/img/sliders/elastislide/9.jpg" alt="" />
    </a>
    <div class="media-body">
      <h4 class="media-heading">Media heading <span>July 5,2013 / <a href="#">Reply</a></span></h4>
      <p>Donec id erum quidem rerumd facilis est et expedita distinctio lorem ipsum dolorlit non mi portas sats eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna..</p>
    </div>
  </div><!--/media-->
  <!-- End Recent Comments -->

  <hr>

  <!-- Comment Form -->
  <div class="post-comment">
    <h3>Leave a Comment</h3>
    <form>
      <label>Name</label>
      <div class="row margin-bottom-20">
        <div class="col-md-7 col-md-offset-0">
          <input type="text" class="form-control">
        </div>                
      </div>
      
      <label>Email <span class="color-red">*</span></label>
      <div class="row margin-bottom-20">
        <div class="col-md-7 col-md-offset-0">
          <input type="text" class="form-control">
        </div>                
      </div>
      
      <label>Message</label>
      <div class="row margin-bottom-20">
        <div class="col-md-11 col-md-offset-0">
          <textarea class="form-control" rows="8"></textarea>
        </div>                
      </div>
      
      <p><button class="btn-u" type="submit">Send Message</button></p>
    </form>
  </div>>
  <!-- End Comment Form -->
</div><!--/container-->
