<!DOCTYPE html>
<html>
<head>
  <title>Holarse</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <p>CurrentUser: <%= current_user.username %></p>
  
<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, class: name %>
<% end %>

<%= yield %>

  <%= javascript_include_tag 'application' %>
  
</body>
</html>
