<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
<head>
  <title>Holarse</title>
  <!-- Meta -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <%= favicon_link_tag %>

  <link rel="stylesheet" href="//oss.maxcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//oss.maxcdn.com/fontawesome/4.2.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300,400">

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="wrapper">
  <%= render partial: "header" %>
  <%= render partial: "slider" %>
  <%= render partial: "breadcrumbs" %>
  <%= render partial: "alerts" %>
  <%= yield %>
  <%= render partial: "footer" %>
</div>

<script type="text/javascript" src="//oss.maxcdn.com/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="//oss.maxcdn.com/jquery.migrate/1.2.1/jquery-migrate.min.js"></script>
<script type="text/javascript" src="//oss.maxcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>  
<%= javascript_include_tag "application" %>
<script type="text/javascript">
  jQuery(document).ready(function() {
    App.init();      
  });
</script>
</body>
</html>
